.WarehousCard {
  .WarehousCard__inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .ProductData {
      width: 90%;
      background-color: #fff;
      height: 450px;
      border-radius: 8px;
      margin: 12px;
      padding: 24px;
      display: flex;
      p {
        margin: 0;
      }
      .ProductData__block1 {
        width: 20%;
        .ProductData__coord {
          display: flex;
          flex-direction: column;
          .ProductData__coordDate {
            margin-left: 10px;
          }
        }
      }
      .ProductData__block2 {
        margin-left: 10px;
        overflow-y: auto;
        box-sizing: border-box;
        width: 75%;
        table {
          .td5 {
            white-space: nowrap;
          }
          .td1 {
            padding-left: 0;
            text-align: center;
            align-items: center;
            transform: translateX(25px);
          }
          .td7 {
            span {
              transform: translateX(20px);
            }
          }
          .th7 {
            transform: translateX(-7px);
          }
          th {
            padding-top: 0;
          }
          td {
            padding: 5px 60px;
          }
        }
      }
      .ProductData__block2::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      .ProductData__block2::-webkit-scrollbar-thumb {
        background-color: #9f9f9f;
        border-radius: 6px;
        transform: translateX(20px);
      }

      .ProductData__block2::-moz-scrollbar {
        width: 6px;
      }

      .ProductData__block2::-moz-scrollbar-thumb {
        background-color: #9f9f9f;
      }
    }
    .WarehousCard__data {
      position: relative;
      width: 350px;
      border: 1px solid #9f9f9f;
      border-radius: 8px;
      padding: 24px;
      margin-top: 24px;
      img {
        position: absolute;
        top: 24px;
        right: 24px;
        transition: 0.15s linear all;
      }
      img:hover {
        opacity: 0.6;
        cursor: pointer;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 16px 0px 0px 0px;
      }
    }
    .WarehousCard__data {
      margin: 12px;
    }
  }
}
