@import "./../../style/color.scss";

.input{
    display: block;
    margin-top: 19px;
    input{
        width: 288px;
        height: 55px;
        background-color: #fff;
        border-radius: 8px;
        border: none;
        margin-top: 3px;
        font-size: 18px;
    }
    input::placeholder{
       color: var( --placeholder-color); 
       margin: 0 20px;
    }

}