.ExitAccount{
   
    position: absolute;
    top: 95px;
    right: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        pointer-events: none;
        position: relative;
        top: -30px;
        left: -25px;
    }
    button{
        margin: 0;
        width: 115px;
        height: 45px;
        border: none;
        background: inherit;
    }
    button:hover{
        cursor: pointer;
    }
}