.HomePage__table {
  display: flex;
}
.container_box {
  display: flex;
  flex-wrap: nowrap;
}
.HomePage__zapr {
  width: 500px;
}
.HomePage__table__inner {
    height: 420px;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  h3 {
    margin: 0px 0px 24px 0px;
  }

}

.HomePage__history{
    .HomePage__history__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .history__block{
        background-color: #fff;
        margin: 0 12px;
        padding: 24px;
        box-sizing: border-box;
        width: 242px;
        border-radius: 8px;
        img{
            margin: 0 5px;
        }
    }
    .history__block:first-child{
        margin-left: 0;
    }
}
.HomePage__block1{
    display: flex;
    .Analitic{
        margin-left: 24px;
    }
}