@import "./../../style/color.scss";

.LeftMenu__inner {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 210px;
  display: flex;
  justify-content: center;
  .logo {
    margin: 16px 0px 34px 24px;
  }
  ul {
    list-style: none;
    width: 158px;
    margin: 0;
    position: relative;
    left: -20px;
  }
  li {
    margin: 10px 0;
    padding: 10px 0px 10px 10px;
    width: 158px;
    border-radius: 8px;
    transform: 0.15s linear all;
    box-sizing: border-box;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-decoration: none;
    color: #000;
    img {
      position: absolute;
      right: 10px;
      top: 23px;
    }
    ul {
      list-style: none;
      width: 158px;
      margin: 0;
      position: relative;
      left: -20px;
      a {
        text-decoration: none;
      }
    }
  }
  li:hover {
    cursor: pointer;
    // opacity: 0.8;
    background: hsla(22, 90%, 54%, 0.4) !important;
  }
}
